<h1 class="loginTitle">Log In</h1>

<form id="userForm">
    <label for="username">Ingrese su nombre de usuario:</label>
    <input type="text" name="username">
    <button class="btnLogin" type="submit">Loguearse</button>
</form>

